{% extends 'news/base.html' %}
{% load static %}
{% block content %}
        <!-- 404 Start -->
        <div class="container-fluid py-5">
            <div class="container py-5 text-center">
                <ol class="breadcrumb justify-content-center mb-5">
                    <li class="breadcrumb-item"><a href="#">홈</a></li>
                    <li class="breadcrumb-item"><a href="#">전체 페이지</a></li>
                    <li class="breadcrumb-item active text-dark">404 페이지</li>
                </ol>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <i class="bi bi-exclamation-triangle display-1 text-secondary"></i>
                        <h1 class="display-1">404</h1>
                        <h1 class="mb-4">페이지가 존재하지 않습니다.</h1>
                        <p class="mb-4">해당 페이지가 우리의 웹사이트에 존재하지 않습니다. 처음으로 돌아가시겠습니까?</p>
                        <a class="btn link-hover border border-primary rounded-pill py-3 px-5" href="index">홈으로 돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 404 End -->
{% endblock %}