{% extends "news/base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}

<!--
    <h2>로그인</h2>
    <h4>{% if msg %}{{ msg }}{% endif %}</h4>
    <form action="login" method="post">
        {% csrf_token %}{{ form.as_p }}
        <button type="submit">드가쟈~!</button>
    </form>
    <p>
        <a href="{% url 'news:index' %}">홈으로</a>
    </p>
-->

<link href="{% static 'css/login.css' %}" rel="stylesheet">

<div class="container" id="login">
    <div class="global-cont">
        <div class="inner-cont">
        <div class="sign">
            <span class="active sign-in">로그인</span>
            <span class="sign-up">회원가입</span>
        </div>
        <div class="sign-in-up">
            <form class="sign-in-form active" method="post" action="{% url 'news:login' %}">
                {% csrf_token %}
                <input name="email" type="email" placeholder="이메일">
                <input name="password" type="password" placeholder="비밀번호">
                <span>
                    <input type="checkbox"> <label>아이디 저장</label>
                </span>
                <a href="#">비밀번호를 잊음</a>
                <input type="submit" value="로그인">
            </form>
            <form class="sign-up-form" method="post" action="{% url 'news:register' %}">
                {% csrf_token %}
                <input name="username" type="text" placeholder="닉네임">
                <input name="email" type="email" placeholder="이메일">
                <input name="password" type="password" placeholder="비밀번호">
                <div class="select">
                    <input type="radio" id="select" value="Journalist" name="role"><label for="select">기자</label>
                    <input type="radio" id="select2" value="Reader" name="role"><label for="select2">독자</label>
                </div>
                <input type="submit" value="회원가입">
            </form>
            <div class="divider">
            <span>소셜 로그인</span>
            </div>
            <div class="social-login">
            <button class="kakaotalk" type="button" onclick="location.href = '{% provider_login_url 'kakao' %}'"><img class = "kakao" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" alt="" ></button>
            <button class="naver" type="button" onclick="location.href = '{% provider_login_url 'naver' %}'"><img class = "naver" src="{% static 'img/btn_login_naver.png' %}" alt="" ></button>
            <button class="google" type="button" onclick="location.href = '{% provider_login_url 'google' %}'"><img class = "google" src="{% static 'img/btn_login_naver.png' %}" alt="" ></button>
            <button class="facebook">페이스북</button>
            <div class="clearfix"></div>
            <div class="why"><a href="#">소셜 로그인의 장점</a></div>
            <div class="policy">소셜 계정을 사용해서 <a href="#">간편하게 로그인하세요</a> ! <a href="#">안전합니다.</a></div>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="{% static 'js/login.js' %}"></script>

{% endblock %}